{% extends "general/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load cache %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title text-center">{% trans 'Login' %}</h2>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <!-- Username -->
                        <div class="mb-3">
                            <label for="id_username" class="form-label">{% trans 'Username' %}</label>
                            <input type="text" name="username" class="form-control" id="id_username" required>
                        </div>
                        <!-- Password -->
                        <div class="mb-3">
                            <label for="id_password" class="form-label">{% trans 'Password' %}</label>
                            <input type="password" name="password" class="form-control" id="id_password" required>
                        </div>
                        <!-- Submit Button -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">{% trans 'Login' %}</button>
                        </div>
                    </form>
                    <!-- Additional Options -->
                    <div class="text-center mt-3">
                        <p>{% trans "Don't have an account? " %}<a href="{% url 'custom_signup' %}">{% trans 'Register' %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
