{% extends "general/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">{% trans 'Change Password' %}</h2>
                    <form method="post">
                        {% csrf_token %}
                        <!-- Password Change Form -->
                        <div class="mb-3">
                            <label for="old_password" class="form-label">{% trans 'Old Password' %}</label>
                            {{ password_form.old_password }}
                        </div>
                        <div class="mb-3">
                            <label for="new_password1" class="form-label">{% trans 'New Password' %}</label>
                            {{ password_form.new_password1 }}
                        </div>
                        <div class="mb-3">
                            <label for="new_password2" class="form-label">{% trans 'Confirm New Password' %}</label>
                            {{ password_form.new_password2 }}
                        </div>
                        <!-- Submit Button -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">{% trans 'Save Changes' %}</button>
                        </div>
                    </form>
                    {% include 'includes/messages.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
