{% extends "base.html" %}
{% block content %}
<!-- Header -->
    <div class="header">
        <div class="container">
           <h1>{% trans 'PAL Activity Delete' %}</h1>
           <p class="text-muted">{% trans 'Delete the activities according to the annual workplan' %}</p>
            {% include 'includes/messages.html' %}
        </div>
    </div>
<div class="container mt-4">
    <h2>Delete Activity Program</h2>
    <p>Are you sure you want to delete this activity?</p>
    <ul>
        <li><b>User:</b> {{ object.user }}</li>
        <li><b>Registration No.:</b> {{ object.registration_nr }}</li>
        <li><b>Week:</b> {{ object.week }}</li>
        <li><b>Activity Title:</b> {{ object.activity_title }}</li>
    </ul>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'activity_program_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}